:root{
    --primario: #2563eb;
    --azuIlustracao: #4f8deb;
    --coral: #f3706a;
    --fundoSuave: #e6f3ff;
    --icons: #BEE0FF;
    --textPrincipal: #111827;
    --textSecond: #4B5563;
    --fundoPagina: #F9FAFB;
    --fundoCard: #FFFFFF;
    --borda: #E5E7EB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerLogo{
    display: flex;
    justify-content: center;
}

header img{
    width: 80%;
}

header ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 108px;
    border-width: 100%;
    border-bottom: 1px solid #E5E7EB;
    margin: 12px 0;
}

header ul a, footer ul a{
    color: var(--textPrincipal);
    text-decoration: none;
}

header ul a:hover, footer  ul a:hover{
    text-decoration: underline;
    color: var(--azuIlustracao);
    transition: .1s ease;
}

.containerSlogan img{
    width: 100%;
    margin-top: 120px;
}

.containerSlogan{
    text-align: center;
}
.containerSlogan p{
    text-align: justify;
    padding: 10px;
    line-height: 23px;
}

.btn{
    background-color: var(--primario);
    color: var(--fundoCard);
    border: none;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
}

.btn:hover{
    cursor: pointer;
    background-color: var(--azuIlustracao);
    transition: .2s ease;
}


.ContainerComoFunciona{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.ContainerComoFunciona h2{
    color: var(--textPrincipal);
    text-align: center;
    margin: 25px 0 0 0;
}

.cards-fun .card-funciona{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    line-height: 25px;
}

.containerIcon i{
    font-size: 30px;
    color: var(--icons);
}

.cards-fun p{
    color: var(--textSecond);
}

main{
    background-color: var(--fundoPagina);
    padding: 10px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    line-height: 25px;
}

main .card{
    background-color: var(--fundoCard);
}

.card > h2{
    text-align: center;
    margin: 15px 0;
}

main > h2{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E7EB;
}

.card i{
    margin: 15px 0;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;

}

.containerIcon{
    display: flex;
    justify-content: center;
}

.card button{
    display: block;
    margin: 20px auto;
}

.containerContato{
    background-color: var(--fundoCard);
    color: var(--textPrincipal);
    text-align: center;
    padding: 10px;
}

form{
    background-color: var(--fundoPagina);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

form .campo-input{
    display: flex;
    flex-direction: column;
}


form label{
    color: var(--textSecond);
    text-align: left;
}
form input{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

footer{
    margin-top: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

footer p{
    text-align: center;
}

footer p a{
    text-decoration: none;
    color: var(--coral);
}

footer p a:hover{
    text-decoration: underline;
    transition: .1s ease;
}


